<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST" action="/add_tweet">
        <!-- Heading -->
        <h4>
        Post a tweet!
        </h4>

        <!-- Subheading -->
        

        <!-- Email -->
        <div>
            <label>Title</label>
            <div>
                <input type="text"  name="title" required>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Post</label>
            <div class="input-group">
                <input type="text"  name="post" required>
            </div>
        </div>
        
        <!-- Button -->
        <div>
            <input type="submit"/>S
        </div>
    </form>
    
</body>
</html>